<main>
	<section class=".container">
		<h1>Pdfier</h1>
		<form method="post" action="/save_as_pdf">
			<label for="url">URL</label>
			<input class="input" type="text" name="url" placeholder="Your URL here">
			
			<label for="filename">Filename</label> 
			<input class="input" type="text" name="filename" placeholder="Your filename here">

			<label></label>
  			<input class="button-primary" type="submit" value="Submit">
		</form>
	</section>
</main>