<!DOCTYPE html>
<html>
<head>
	<title>Pdfier</title>
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="javascripts/index.js"></script>
</head>
<body>
	<main class="container">
		<%= yield %>
	</main>
</body>
</html>